/* general */

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom properties */
:root{
    
}

/* Position utility */


.p-fixed {
    position: fixed;
    top: 0px;
    left: 0;
}

.p-absolute {
    position: absolute;

}

.p-relative {
    position: relative;
}

/* General settings */
.container{
    margin: 0 auto;
    max-width: 1200px;
}