/* general */

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.debug {
    border: 1px solid red;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom properties */
:root {
    --orange: #FF6900;
    --green: #008000;
    --accent-red: #FF0000;
    --black: #1A1A1A;
}

/* text properties */
.text-red {
    color: var(--accent-red);
}

.text-barred {
    text-decoration: line-through;
}

.text-bold{
    font-weight: bold;
}

/* Position utility */


.p-fixed {
    position: fixed;
}


.p-absolute {
    position: absolute;
    top: 0;
    right: 0;

}


.p-relative {
    position: relative;
}

/* General settings */

.container {
    margin: 0 auto;
    max-width: 1200px;
}

/* flex utility */

.d-flex {
    display: flex;
}

.spacebetween {
    justify-content: space-between;
}

/* header setting */

header {
    background-color: var(--accent-red);
    color: white;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

/* main setting */
main{
    margin-top: 30px;
    margin-bottom: 100px;
}

.row {
    gap: 5px;
    flex-wrap: wrap;
}

.col {
    width: calc((100% - 10px) / 3);
    height: 100%;
    position: relative;
    bottom: 0;
    left: 0;

}

.col img {
    width: 100%;
    display: block;
}

.hearth {
    width: 40px;
    height: 40px;
    background-color: white;
    color: var(--black);
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
}

.hearth:hover{
    color: var(--accent-red)
}
/* setting hoover */

.col img.h-image {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.col:hover {
    cursor: pointer;
}

.col:hover img.h-image {
    display: block;
}

/* footer settings */

footer ul li {
    list-style: none;
}

footer {
    margin-top: 30px;
    background-color: var(--black);
    color: white;
    width: 100%;
    z-index: 1000;
    bottom: 0;
    left: 0;

}