/* general */

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Position utility */


.p-fixed {
    position: fixed;
    top: 0px;
    left: 0;
}

.p-absolute {
    position: absolute;

}

.p-relative {
    position: relative;
}
